# Configure the rootLogger
log4j.rootLogger=DEBUG,default.file

log4j.appender.default.file=org.apache.log4j.FileAppender
log4j.appender.default.file.append=false
log4j.appender.default.file.file={{ log }}
log4j.appender.default.file.threshold=INFO
log4j.appender.default.file.layout=org.apache.log4j.PatternLayout
log4j.appender.default.file.layout.ConversionPattern=%-5p %c{2} (%X{mpirank}, %X{hostname}) [%d] - %m%n